#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgb(192, 113, 113);
}

body {
  display: flex;
  justify-content: center;
  background-color: #25274D;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-width: 20vw;
}

.main-card {
  background-color: #2964BA;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.card-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


.card-submit{
  padding: 10px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: rgb(78, 89, 117);
  color: white;
  cursor: pointer;
}

/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .main-card {
    width: 70%;
  }
}

/* Media query for screens larger than 600px but smaller than 1280px */
@media only screen and (min-width: 601px) and (max-width: 1280px) {
  .main-card {
    width: 70%;
  }
}

@media  screen and (min-width: 1281px){
  .main-card {
    width: 100%;
  }
}